:root{
    --purple: rgb(116, 0, 184);
    --violet: rgb(83, 144, 217);
    --blue: rgb(78, 168, 222);
}

body{
    background-color: #111;
    font-family: 'Google Sans', sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    background:url(assets/wall.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    
}

.margin-content{
    margin-top: 0vh;
}

.gradient-txt{
    color: transparent;
    font-size: 3rem;
    margin-bottom: 0;
}

.under-txt{
    font-size: 20px;
    margin: 0;
}

.pfp{
    border-radius: 10px;
    width: 95px;
    height: 95px;
}

.grey-link{
    font-size: 20px;
    padding: 3px;
    color: rgb(199, 197, 197);
}

.box {
    /* From https://css.glass */
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 80px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border: 1px solid rgba(255, 255, 255, 0.7);
    -webkit-box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
    box-shadow: 0px 0px 15px 5px rgba(255, 255, 255, 0.75);
  }
  

/*
.box{
    background-color: rgba(0, 0, 0, 0.700);
    padding: 80px;
    border-radius: 10px;
}
*/

@media (max-width: 400px){
    .box{
        padding: 30px;
    }
}

.inf{
    bottom: 0;
    position: absolute;
    width: 100%;
}
  
  @keyframes background-pan {
    from {
      background-position: 0% center;
    }
    
    to {
      background-position: -200% center;
    }
  }
  
  @keyframes scale {
    from, to {
      transform: scale(0);
    }
    
    50% {
      transform: scale(1);
    }
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    
    to {
      transform: rotate(180deg);
    }
  }
  
  body {
    background-color: rgb(10, 10, 10);
    display: grid;
    height: 100vh;
    margin: 0px;
    overflow: hidden;
    place-items: center;
  }
  
  h1 {
    color: white;
    margin: 0px;
    font-size: 3rem;
    text-align: center;
  }
  
  h1 > .magic {
    display: inline-block;
    position: relative;
  }
  
  h1 > .magic > .magic-star {
    --size: clamp(20px, 1.5vw, 30px);
    
    animation: scale 700ms ease forwards;
    display: block;
    height: var(--size);
    left: var(--star-left);
    position: absolute;
    top: var(--star-top);
    width: var(--size);
  }
  
  h1 > .magic > .magic-star > svg {
    animation: rotate 1000ms linear infinite;
    display: block;
    opacity: 0.7;
  }
  
  h1 > .magic > .magic-star > svg > path {
    fill: var(--violet);
  }
  
  h1 > .magic > .magic-text {
    animation: background-pan 3s linear infinite;
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--blue),
      var(--purple)
    );
    background-size: 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    white-space: nowrap;
  }